body {
    background-image: linear-gradient(#0000007d,#00000067), url(testeimagem.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 137vh;
}

table a:link{
    color: white
}
table a:visited{
    text-decoration: none;
    color: rgb(169, 169, 180);
}

table a:hover{
    text-decoration: line-through;
    color: white;
}

table a:active{
    text-decoration: none;
    color: whitesmoke;
}
u{
    text-decoration-color: black;
}

span{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 37px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.conteiner{
    max-width: 1400px;
    padding: 3%;
    margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    padding-left: 2%;
    justify-content: space-between;
    border: 1.5px solid rgba(68, 26, 113, 0.763)

}

nav.logo{
    font-size: 50px;
    font-family: italic;
    color: white;
    font-weight: bold;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}

nav ul li a:hover{
    background-image: linear-gradient(to bottom, #97a7f962 30%, #f81d1d67 100%);
}


#titulo{
    width: 98%;
    height: 37px;
    padding-inline: 12px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
}

table{
    text-align: center;
    width: 400px;
    padding: 1px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th{
    border: 1px solid black;
    background-image: linear-gradient(to bottom, #97a7f962 30%, #f81d1d67 150%);
    color: whitesmoke;
}


td{
    border: 1px solid black;
    border-collapse: collapse;
    color: white;
}